{% extends "browser/base.html" %}
{% block body %}
<div id="content">
    <h1 class="title">Upload Image</h1>
    {% if messages %}
    <ul style="color:#000;">
        {% for message in messages %}
        <li style="margin-bottom:0em;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>Please note that the image must be in JPEG format. The minimum allowed image dimensions are 720x720 pixels and the maximum allowed image filesize is 10MiB.</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="the_image">
        <input type="submit" value="Submit">
    </form>
    <br />
    <div>
        <p>Upload Guidelines</p>
        <ul>
            <li>Any image you upload will be viewable and available for annotation by all users of this website.</li>
            <li>As a result, you must have rights to share the image, or the image must be in the public domain.</li>
            <li>To protect yourself and others, images should not contain people's faces, identities, private information, etc.</li>
            <li>Images must not contain offensive material. This includes nudity, graphic violence, sexual content, etc.</li>
            <li>All uploads will be reviewed by an adminstrator prior to being available for annotation. Images that do not meet these guidelines will be deleted.</li>
        </ul>
    </div>
</div>
{% endblock %}