{% load compress %}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>LabelMe: The Open Annotation Tool</title>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'label_app/gallery4.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'label_app/accordion.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'label_app/main4.css' %}" type="text/css" />
        {% endcompress %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin:400" type="text/css" />
    </head>
    <body>
        <div class="header">
            <div id="logo">
                <a href="/"><img src="{% static 'label_app/LabelMe_logo3.png' %}" width="216" height="69" alt="LabelMe logo"></a> 
            </div>
            <div id="topnav">
                <ul id="topmenu">
                    <li><a href="{% url 'annos_in_progress' %}">My Annotations</a></li>
                    <li>
                        <a>test dropdown</a>
                        <ul>
                            <li><a href="a">a</a></li>
                            <li><a href="b">b</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Help</a>
                        <ul>
                            <li><a href="help">get help</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'credits_page' %}">Credits</a></li>
                </ul>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
