{% extends "browser/base.html" %}
{% block head %}
<script type="text/javascript">
function do_modify(action, anno_id) {
    document.getElementById("modify_action").value = action;
    document.getElementById("modify_anno_id").value = anno_id;
    document.getElementById("modify_form").submit();
}
function do_delete(anno_id) {
    if (confirm("This annotation will be gone forever! Delete?")) {
        do_modify("delete", anno_id);
    }
}
function do_new() {
    do_modify("new", "none");
}
function do_review(anno_id) {
    do_modify("review", anno_id);
}
function do_unreview(anno_id) {
    do_modify("unreview", anno_id);
}
</script>
{% endblock %}
{% block body %}
<form id="modify_form" method="post" style="display:none;">
    {% csrf_token %}
    <input type="hidden" name="action" id="modify_action" value="nothing">
    <input type="hidden" name="anno_id" id="modify_anno_id" value="none">
</form>
<div id="left">
    <ul class="menu">
        <li><a href="{% url 'annos_in_progress' %}"{% if request.resolver_match.url_name == "annos_in_progress" %} class="active"{% endif %}>In Progress</a></li>
        <li><a href="{% url 'annos_pending_review' %}"{% if request.resolver_match.url_name == "annos_pending_review" %} class="active"{% endif %}>Pending Review</a></li>
        <li><a href="{% url 'annos_finished' %}"{% if request.resolver_match.url_name == "annos_finished" %} class="active"{% endif %}>Finished</a></li>
    </ul>
</div>
<div id="content">
    {% if request.resolver_match.url_name != "contest_closed" %}
    <div id="topCenter">
        <div id="pathway">
        {% if request.resolver_match.url_name == "annos_in_progress" %}
            Annotations In Progress
            <span class="sub_pathway"><br>{% if annotations|length == 0 %}Click on "Start a New Annotation" to begin annotating a new image.{% else %}Click on "Start a New Annotation" to begin annotating another image, or click on an image below to continue editing your annotations.{% endif %}</span>
        {% elif request.resolver_match.url_name == "annos_pending_review" %}
            Annotations Awaiting Administrator Review
            <span class="sub_pathway"><br>{% if annotations|length == 0 %}Submit an in progress annotation for review by clicking on "Request Review".{% else %}Wait for an administrator to review and approve your annotations, or click on "Cancel Review" to resume editing the annotation.{% endif %}</span>
        {% elif request.resolver_match.url_name == "annos_finished" %}
            Finished Annotations
            <span class="sub_pathway"><br>These annotations have been successfully reviewed and can no longer be edited. The displayed score is final.</span>
        {% endif %}
    {% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        </div>
        <div id="collection_buttons">
            <a href="{% url 'upload_image' %}"><p class="labelBtn">Upload Image</p></a>
            <a href="javascript:do_new();"><p class="labelBtn">Start a New Annotation</p></a>
        </div>
    </div>

    <div id="image_list">
        {% for anno in annotations %}
        <div class="album" style="width:{{ anno.image.thumb_size.0 }}px;"><div class="album_image_container"><img src="{{ anno.image.image_thumb_url }}"><div style='margin-top:-{{ anno.image.thumb_size.1|add:"4" }}px;'><a href="{% if request.resolver_match.url_name == 'annos_in_progress' %}{{ anno.edit_url }}{% else %}{{ anno.view_url }}{% endif %}"><img src="{{ anno.svg_url }}"></a></div></div>
        <div class="image_data">
        {% if request.resolver_match.url_name == "annos_in_progress" %}
            Preliminary Score: {{ anno.score|floatformat }}<br>
            <a href="javascript:do_delete({{ anno.pk }})">Delete</a><br>
            <a href="javascript:do_review({{ anno.pk }})">Request Review</a>
        {% elif request.resolver_match.url_name == "annos_pending_review" %}
            Preliminary Score: {{ anno.score|floatformat }}<br>
            <a href="javascript:do_delete({{ anno.pk }})">Delete</a><br>
            <a href="javascript:do_unreview({{ anno.pk }})">Cancel Review</a>
        {% elif request.resolver_match.url_name == "annos_finished" %}
            Final Score: {{ anno.score|floatformat }}
        {% endif %}{% if anno.comment %}<br><b>Comment:</b> {{ anno.comment }}{% endif %}</div></div>
        {% endfor %}
    </div>
    {% else %}
    {% load tz %}
    <h1 class="title">Contest is Closed</h1>
    <p>As of {{ close_date|localtime|date:"g:i:sA \o\n Y-m-d" }}, the contest is officially closed. Thank you for your participation. Because the contest is closed, you may not upload any images, edit any in-progress annotations, or submit any annotations for review.</p>
    <p>Any annotations submitted for review before the contest was closed will still be reviewed by an adminstrator. Reviewed annotations, if accepted, will still count towards your final score.</p>
    <p>Please continue to check your e-mail for information regarding contest prizes.</p>
    {% endif %}
</div>
{% endblock %}
