{% extends "browser/base.html" %}
{% block head %}
<script type="text/javascript">
function do_modify(action, anno_id) {
    document.getElementById("modify_action").value = action;
    document.getElementById("modify_anno_id").value = anno_id;
    document.getElementById("modify_form").submit();
}
function do_delete(anno_id) {
    if (confirm("This annotation will be gone forever! Delete?")) {
        do_modify("delete", anno_id);
    }
}
function do_new() {
    do_modify("new", "none");
}
function do_review(anno_id) {
    do_modify("review", anno_id);
}
function do_unreview(anno_id) {
    do_modify("unreview", anno_id);
}
</script>
{% endblock %}
{% block body %}
<form id="modify_form" method="post" style="display:none;">
    {% csrf_token %}
    <input type="hidden" name="action" id="modify_action" value="nothing">
    <input type="hidden" name="anno_id" id="modify_anno_id" value="none">
</form>
<div id="left">
    <ul class="menu">
        <li><a href="{% url 'annos_in_progress' %}"{% if request.resolver_match.url_name == "annos_in_progress" %} class="active"{% endif %}>In Progress</a></li>
        <li><a href="{% url 'annos_pending_review' %}"{% if request.resolver_match.url_name == "annos_pending_review" %} class="active"{% endif %}>Pending Review</a></li>
        <li><a href="{% url 'annos_finished' %}"{% if request.resolver_match.url_name == "annos_finished" %} class="active"{% endif %}>Finished</a></li>
    </ul>
</div>
<div id="content">
    <div id="topCenter">
        <div id="pathway" style="width:100%; height:100%; margin-bottom:20px;">
        {% if request.resolver_match.url_name == "annos_in_progress" %}
            Annotations In Progress
            <span class="sub_pathway"><br>Click on "Start a New Annotation" to begin annotating another inage, or click on an image below to continue editing.</span>
        {% elif request.resolver_match.url_name == "annos_pending_review" %}
            Annotations Awaiting Administrator Review
            <span class="sub_pathway"><br>Wait for an administrator to review and approve your annotations, or click on "Cancel Review" to go back to editing an annotation.</span>
        {% elif request.resolver_match.url_name == "annos_finished" %}
            Finished Annotations
            <span class="sub_pathway"><br>These annotations have been successfully reviewed and can no longer be edited. The displayed score is final.</span>
        {% endif %}
    {% if messages %}
    <ul style="color:#000;">
        {% for message in messages %}
        <li style="margin-bottom:0em;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        </div>
        <div id="collection_buttons">
            <a href="{% url 'upload_image' %}" style="display:inline;"><p class="labelBtn" style="height:21px; color: #eee; padding-top:5px">Upload Image</p></a>
            <a href="javascript:do_new();" style="display:inline;"><p class="labelBtn" style="height:21px; color: #eee; padding-top:5px">Start a New Annotation</p></a>
        </div>
    </div>

    <div style="display: inline-flex; flex-wrap:wrap;">
        {% for anno in annotations %}
        <div class="album"><div style="padding:0px; height:192px; min-width:128px;"><img src="{{ anno.image.image_thumb_url }}" style="max-height:192px"><div style='margin-top:-{{  anno.image.thumb_size.1|add:"4" }}px;'><a href="{% if request.resolver_match.url_name == 'annos_in_progress' %}{{ anno.edit_url }}{% else %}{{ anno.view_url }}{% endif %}" target="_blank"><img src="{{ anno.svg_url }}"></a></div></div>
        <div class="image-title" style="max-width:120px; font-size:14px;">
        {% if request.resolver_match.url_name == "annos_in_progress" %}
            Current Score: {{ anno.score|floatformat }}<br>
            <a href="javascript:do_delete({{ anno.pk }})">Delete</a><br>
            <a href="javascript:do_review({{ anno.pk }})">Request Review</a>
        {% elif request.resolver_match.url_name == "annos_pending_review" %}
            Current Score: {{ anno.score|floatformat }}<br>
            <a href="javascript:do_delete({{ anno.pk }})">Delete</a><br>
            <a href="javascript:do_unreview({{ anno.pk }})">Cancel Review</a>
        {% elif request.resolver_match.url_name == "annos_finished" %}
            Final Score: {{ anno.score|floatformat }}
        {% endif %}</div></div>
        {% endfor %}
    </div>
</div>
{% endblock %}
