{% extends "browser/base.html" %}
{% block head %}
<script type="text/javascript">
function do_modify(action, item_id) {
    document.getElementById("modify_action").value = action;
    document.getElementById("modify_item_id").value = item_id;
    document.getElementById("modify_form").submit();
}
function do_delete_image(image_id) {
    if (confirm("This image will be gone forever! Delete?")) {
        do_modify("delete_image", image_id);
    }
}
function do_accept_image(image_id) {
    if (confirm("This image will be made available for everyone to annotate. Make available?")) {
        do_modify("accept_image", image_id);
    }
}
function do_reject_anno(anno_id) {
    if (confirm("This annotation will be returned for editing. Return?")) {
        do_modify("reject_anno", anno_id);
    }
}
function do_accept_anno(anno_id) {
    if (confirm("This annotation will be approved and no more editing will be possible. Approve?")) {
        do_modify("accept_anno", anno_id);
    }
}
</script>
{% endblock %}
{% block body %}
<form id="modify_form" method="post" style="display:none;">
    {% csrf_token %}
    <input type="hidden" name="action" id="modify_action" value="nothing">
    <input type="hidden" name="item_id" id="modify_item_id" value="none">
</form>
<div id="left">
    <ul class="menu">
        <li><a href="{% url 'anno_review' %}"{% if request.resolver_match.url_name == "anno_review" %} class="active"{% endif %}>Submitted Annotations</a></li>
        <li><a href="{% url 'image_review' %}"{% if request.resolver_match.url_name == "image_review" %} class="active"{% endif %}>New Images</a></li>
    </ul>
</div>
<div id="content">
    <div id="topCenter">
        <div id="pathway">
        {% if request.resolver_match.url_name == "anno_review" %}
            Annotations Submitted for Review
            <span class="sub_pathway"><br>{% if annotations|length == 0 %}Wait for users to submit annotations for review.{% else %}Click on an annotation to view it, then accept or reject it. Click "Edit" to make changes.{% endif %}</span>
        {% elif request.resolver_match.url_name == "image_review" %}
            Images Awaiting Review 
            <span class="sub_pathway"><br>{% if images|length == 0 %}Wait for users to submit images for review.{% else %}Click on an image to view it, then accept or delete it.{% endif %}</span>
        {% endif %}
    {% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        </div>
    </div>

    <div id="image_list">
    {% if request.resolver_match.url_name == "anno_review" %}
        {% for anno in annotations %}
        <div class="album" style="width:{{ anno.image.thumb_size.0 }}px;"><div class="album_image_container"><img src="{{ anno.image.image_thumb_url }}"><div style='margin-top:-{{  anno.image.thumb_size.1|add:"4" }}px;'><a href="{% if request.resolver_match.url_name == 'annos_in_progress' %}{{ anno.edit_url }}{% else %}{{ anno.view_url }}{% endif %}"><img src="{{ anno.svg_url }}"></a></div></div>
        <div class="image_data">
            Preliminary Score: {{ anno.score|floatformat }}<br>
            <a href="javascript:do_accept_anno({{ anno.pk }})">Accept</a><br>
            <a href="{{ anno.edit_url }}">Edit</a><br>
            <a href="javascript:do_reject_anno({{ anno.pk }})">Reject</a><br>
            By: {{ anno.annotator.email }}
        </div></div>
        {% endfor %}
    {% elif request.resolver_match.url_name == "image_review" %}
        {% for image in images %}
        <div class="album" style="width:{{ anno.image.thumb_size.0 }}px;"><div class="album_image_container"><a href="{{ image.image_url }}"><img src="{{ image.image_thumb_url }}"></a></div>
        <div class="image_data">
            <a href="javascript:do_accept_image({{ image.pk }})">Accept</a><br>
            <a href="javascript:do_delete_image({{ image.pk }})">Delete</a><br>
            By: {{ image.uploader.email }}
        </div></div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
