{% extends "browser/base.html" %}
{% block head %}
<script type="text/javascript">
function do_modify(action, item_id) {
    document.getElementById("modify_action").value = action;
    document.getElementById("modify_item_id").value = item_id;
    document.getElementById("modify_form").submit();
}
function do_delete_image(image_id) {
    if (confirm("This image will be gone forever! Delete?")) {
        do_modify("delete_image", image_id);
    }
}
function do_accept_image(image_id) {
    if (confirm("This image will be made available for everyone to annotate. Continue?")) {
        do_modify("accept_image", image_id);
    }
}
function do_reject_anno(anno_id) {
    if (confirm("This annotation will be returned for editing. Continue?")) {
        do_modify("reject_anno", anno_id);
    }
}
function do_accept_anno(anno_id) {
    if (confirm("This annotation will be approved and no more editing will be possible. Continue?")) {
        do_modify("accept_anno", anno_id);
    }
}
</script>
{% endblock %}
{% block body %}
<form id="modify_form" method="post" style="display:none;">
    {% csrf_token %}
    <input type="hidden" name="action" id="modify_action" value="nothing">
    <input type="hidden" name="item_id" id="modify_item_id" value="none">
</form>
<div id="left">
    <ul class="menu">
        <li><a href="{% url 'anno_review' %}"{% if request.resolver_match.url_name == "anno_review" %} class="active"{% endif %}>Submitted Annotations</a></li>
        <li><a href="{% url 'image_review' %}"{% if request.resolver_match.url_name == "image_review" %} class="active"{% endif %}>New Images</a></li>
    </ul>
</div>
<div id="content">
    <div id="topCenter">
        <div id="pathway" style="width:100%; height:100%; margin-bottom:20px;">
        {% if request.resolver_match.url_name == "anno_review" %}
            Annotations Submitted for Review
            <span class="sub_pathway"><br>Click on an annotation to view it, then accept or reject it. Click "Edit" to make changes.</span>
        {% elif request.resolver_match.url_name == "image_review" %}
            Images Awaiting Review 
            <span class="sub_pathway"><br>Click on an image to view it, then accept or delete it.</span>
        {% endif %}
    {% if messages %}
    <ul style="color:#000;">
        {% for message in messages %}
        <li style="margin-bottom:0em;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        </div>
    </div>

    <div style="display: inline-flex; flex-wrap:wrap;">
    {% if request.resolver_match.url_name == "anno_review" %}
        {% for anno in annotations %}
        <div class="album"><div style="padding:0px; height:192px; min-width:128px;"><img src="{{ anno.image.image_thumb_url }}" style="max-height:192px"><div style='margin-top:-{{  anno.image.thumb_size.1|add:"4" }}px;'><a href="{% if request.resolver_match.url_name == 'annos_in_progress' %}{{ anno.edit_url }}{% else %}{{ anno.view_url }}{% endif %}"><img src="{{ anno.svg_url }}"></a></div></div>
        <div class="image-title" style="max-width:120px; font-size:14px;">
            Current Score: {{ anno.score|floatformat }}<br>
            <a href="javascript:do_accept_anno({{ anno.pk }})">Accept</a><br>
            <a href="{{ anno.edit_url }}">Edit</a><br>
            <a href="javascript:do_reject_anno({{ anno.pk }})">Reject</a>
        </div></div>
        {% endfor %}
    {% elif request.resolver_match.url_name == "image_review" %}
        {% for image in images %}
        <div class="album"><div style="padding:0px; height:192px; min-width:128px;"><a href="{{ image.image_url }}"><img src="{{ image.image_thumb_url }}" style="max-height:192px"></a></div>
        <div class="image-title" style="max-width:120px; font-size:14px;">
            <a href="javascript:do_accept_image({{ image.pk }})">Accept</a><br>
            <a href="javascript:do_delete_image({{ image.pk }})">Delete</a>
        </div></div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
