{% extends "browser/base.html" %}
{% block body %}
<div id="content">
    <h1 class="title">Welcome to Labelous</h1>
    <p>Labelous is a part of the University of Memphis <a href="http://map901.memphis.edu/">Map901 project</a>. If you do not have an account, you can get one by registering for the <a href="http://map901.memphis.edu/map901_contest.php">image annotation contest</a>.</p>
<div id="signform">
    <h2>Log In</h2>
{% if form.errors %}
<p>The email and/or password you provided were incorrect. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p><b>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</b></p>
    {% else %}
    <p><b>Please log in to see this page.</b></p>
    {% endif %}
{% endif %}

<form id="nf" method="post" action="{% url 'login' %}?next={{ next }}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Log In">
<input id="nv" type="hidden" name="next" value="{{ next }}">
</form>
<br clear="all" />
<p>If you've forgotten your password, please contact an administrator to have it reset.</p>
</div>

{# ensure the url fragment gets carried through as it controls the tool. if it got lost, then the user visiting a tool link and having to log in would lead to a broken tool #}
<script type="text/javascript">
    var h = window.location.hash;
    document.getElementById("nf").action += h;
    document.getElementById("nv").value += h;
</script>

</div>
{% endblock %}